@mixin size($width,$height){
	width:$width;
	height:$height;
}
@mixin clearfix(){
	&:before,&:after{
		content:'';
		display:table;
	}
	&:after{
		clear:both;
	}
}
@mixin wavePoint($color,$scale,$size,$bgcolor){
	background:radial-gradient($color $scale,transparent 0),radial-gradient($color $scale,transparent 0);
	background-size:$size $size;
	background-position:0 0,$size/2 $size/2;
	background-color:$bgcolor;
}
@mixin bd($w,$c){
	border:$w solid $c;
}
@mixin Radius(){
	border-radius:100px/75px;
}
@mixin circle(){
	border-radius:50%;
}
@mixin corner($bgWid,$bgColor){
	background:linear-gradient(-45deg,transparent $bgWid,$bgColor 0) right bottom,linear-gradient(-135deg,transparent $bgWid,$bgColor 0) right top;
	background-size:100% 50%;
	background-repeat:no-repeat;
}
@mixin circleCorner($color,$tl:0,$tr:$tl,$bl:$tl,$br:$tl){
	background:radial-gradient(circle at top left,transparent $tl,$color 0) top left,
	radial-gradient(circle at top right,transparent $tr,$color 0)top right,
	radial-gradient(circle at bottom left,transparent $bl,$color 0)bottom left,
	radial-gradient(circle at bottom right,transparent $br,$color 0)bottom right;
	background-size:50% 50%;
	background-repeat:no-repeat;
}